
:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(96, 199, 240, 0.932) 0%, rgba(10, 211, 247, 0.692) 0%, rgba(9, 186, 199, 0.726) 21%, rgba(49, 211, 122, 0.596) 52%, rgba(54, 212, 115, 0.521) 78%, rgba(9, 250, 109, 0.829) 100%), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.hamburguer{
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    background-color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #08cc5a 0%, #0ce2be 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: white;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #0e6d2a;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.designer{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #167762;
}

.number{
    display: inline-block;
    margin: 7px;
    color: rgb(15, 109, 73);
    font-size: 27px;
}

.gallery{
    background: #68686834;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.295);
    cursor: pointer;
    border-radius: 10px; 
}

.imagen-light{
    position: fixed;
    background: rgb(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%) ;
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    width: 60%;
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.expert{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: auto;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin:0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

.proces{
    background: #dadada;
}

.contenedor-codigo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.codigo{
    width: 70%;
    display: block;
    margin-bottom: 65px;
    box-shadow: 0 0 6px rgba(94, 94, 94, 0.459);
    cursor: pointer;
    border-radius: 10px; 
}

footer{
    background-image: linear-gradient(to right, #1b9eafb2 0%, #2eaaaa 19%, #29b474 60%, #0bdaa6 100%);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;

}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.social-media-icon:hover{
    background: #fff;
    color: #019c61;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}